@import "tailwindcss";

.Merriweather {
  font-family: 'Merriweather', serif;
}

.DancingScript {
  font-family: 'Dancing Script', cursive;
}


.Satisfy {
  font-family: 'Satisfy', cursive;
}
.nav-item {
  position: relative;
  padding-bottom: 1px;
  display: inline-block;
  transition: color 0.3s ease;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #000000;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s ease;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-item[data-active="true"]::after {
  transform: scaleX(1);
  transform-origin: left;
  background: #000000;
}

.nav-item[data-active="true"] {
  color: #000000;
}